<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103886369530-4uliak7siu96vinf8q4i6g5cllv7jdmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103886369530-4uliak7siu96vinf8q4i6g5cllv7jdmh</string>
	<key>API_KEY</key>
	<string>AIzaSyBagO4wit-OalketnOhd7RTi_tinqyJWd4</string>
	<key>GCM_SENDER_ID</key>
	<string>103886369530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aistha.bhajan</string>
	<key>PROJECT_ID</key>
	<string>bhajan-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>bhajan-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103886369530:ios:58fca8b9e482d6a9b5cf43</string>
</dict>
</plist>